<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="MaxLicenseActivations" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAASyiH+EQJd0e5y3cMYsoNDgAAAAACAAAAAAADZgAAwAAAABAAAAAB4ZcTW+m0ZiNemM2BuB8DAAAAAASAAACgAAAAEAAAAPKf9UBxo59vrjeor7GikTw4AAAAsqoDwgQlT6huPWsZdAZYB69Blmeue84IRnkqw6sBrpdQqBHXfE+LLGTGLgZTod9Hjb62D7rNQKEUAAAAqPMa3xsxuNydwNIa3DWemG6O5EM=" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>